<div class="col-sm-8">
<dl class="dl-horizontal">
  <dt id="review-title"><%="Review number: #{review.id}"%></dt>
  <dd><%= review.description %></dd>
  <dt>Rating</dt>
  <dd><%= review.rating %> / 5</dd>
  <dt>Author</dt>
  <% author = User.find_by(id: review.user_id).email %>
  <dd><%= author %></dd>
  <% if author == current_user.email %>
  <dt><%= link_to 'Delete Review', [@product, review], method: :delete%></dt>
  <% end %>
</dl>
</div>